<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- fontawesome icons -->
		<script src="https://kit.fontawesome.com/23106110f2.js" crossorigin="anonymous"></script>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet" />

		<!-- bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		<!-- jquery UI -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css"
			integrity="sha512-UVQYZVYu7WhHEaO2xGEmc4/3F8ctnXt4jwfGl2MCIHKc95RMgYS8yfNJ3j6wUe0UGiTK0S3vcmh3Ml9h278x5w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!-- custom CSS -->
		<link rel="stylesheet" href="/css/style.css" />

		<title>Find Your Next Pet - Home</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.png" />
		<style type='text/css'>body, a:hover {cursor: url(http://www.zingerbugimages.com/cursors/puppy1tan.ani), url(http://www.zingerbug.com/cursors/cursors/puppy1tan.gif), progress !important;}</style>
	</head>
	{{! TODO: adjust all styles to be mobile first design }}
	<body id="bodye" class=" col-12 col-md-10 col-l-8 px-5 py-3">
		<!-- Assign ID to body element -->

		<header id="header-e" class="row d-flex  justify-content-md-start my-1 mb-md-0  ">
			<a href="/" class="col-6 col-md-1 px-0 mx-0  mb-md-0 text-decoration-none justify-content-md-start">
				<img id="logo" role="img" src="/images/pet-shop-logo-design-template-modern-animal-icon-label-for-store-veterinary-clinic-hospital-shelter-business-services-flat-illustration-background-with-dog-cat-and-horse-free-vector.jpg" alt="Find Pet Logo" />
			{{!-- <h2 id ="logoname" class=" row d-flex flex-nowrap">FIND YOUR PET BESTFRIEND</h2> --}}
			</a>

			<ul class="row d-flex  col-8 col-md-8 col-lg-4  justify-content-md-start mb-md-0 px-3" style="list-style:none">
				<li class="col-8 col-md-4" ><a href="/" class="navigationbutton"> Home</a></li>
				<li class="col-8 col-md-4"><a href="/api/search" class="navigationbutton">Pet Search</a></li>
				<li class="col-8 col-md-4"><a href="/api/pets" class="navigationbutton">Saved Pets</a></li>
        </ul>
				<div class="col-md-8 col-lg-4 justify-content-top-right-end">
				{{#if loggedIn}}
					<button id="logout" class="top-right button ">Logout</button>
		
				{{else}}
					<a href="/login" id="lgbuttton" class="top-right btn-space button"  >Login</a>
					<a href="/login" id="lgbutton"class="top-right btn-space button ">Register</a>
				{{/if}}
			</div>

		</header>
		<main>

			{{{body}}}

		</main>
		<footer id ="footer" class=" row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py">
       <h4>G10 © 2023 | All Rights Reserved </h4>
	<a class="ABOUTUS" href=""	style="color:antiquewhite">About Us</a>
	<a class ="fab fa-github" href="https://github.com/bibekmain/Find-Your-Pet" style="color:antiquewhite" ></a>
	
	    <!-- Facebook -->
<a class ="fab fa-facebook" href="https://www.facebook.com" style="color:antiquewhite" ></a>
	

<!-- Twitter -->
<a class ="fab fa-twitter" href="https://www.twitter.com" style="color:antiquewhite" ></a>
	
<!-- Instagram -->
<i class="fab fa-instagram"></i>

<!-- Pinterest -->
<a class ="fab fa-pinterest" href="https://www.pinterest.com/mhagerty22/adorable-dogs/" style="color:antiquewhite" ></a>
	

<!-- Youtube -->
<a class ="fab fa-youtube" href="https://youtube.com" style="color:antiquewhite" ></a>
	

 		</footer>

		<!-- Jquery Script -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<!-- jquery UI script -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
			integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<!-- bootstrap script -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script>
			  $(document).ready(function () {
            $('.dropdown').hover(function () {
                $(this).addClass('show');
                $(this).find('.dropdown-menu').addClass('show');
            }, function () {
                $(this).removeClass('show');
                $(this).find('.dropdown-menu').removeClass('show');
            });
        });
		</script>
		<script src="/js/logout.js">	</script>
		{{!-- {{/if}} --}}
	
</html>