<div class="container col-12 justify-content-md-start my-1 px-1 py-5">
<h1 id="about-title">ABOUT US</h1>
 <div class="row flex-lg-row-reverse justify-content-center align-items-center py-3"> 
		<div id ="about-p" class="col-12 col-sm-8 col-lg-6 justify-content-center" style="color:antiquewhite" >
"Imagine a world where every lost pet finds their way back home, and every lonely heart finds a furry companion. Find Your Pet BestFriend is your ultimate online destination for connecting lost souls with loving paws. Our innovative platform combines cutting-edge technology with a passion for reuniting and fostering four-legged friends.
With Find Your Next Pet, finding a lost pet is a breeze. Our user-friendly interface allows pet owners to create detailed profiles, complete with photos and unique identifying features, making it easier than ever for kind-hearted individuals to spot and report sightings. ”
 </p>
</div>
</div>