<div class="container col-l-12 justify-content-md-start my-1 mb-md-0 px-1 py-4">
<h1 id="faq-title">FAQ</h1>
<div class="row flex-lg-row-reverse justify-content-center align-items-center g-7 py-3"> 
		<div id ="faq-p" class="col-10 col-sm-8 col-lg-6 justify-content-center" style="color:antiquewhite" >
            <p>1. How Do I Search For a Pet? <br><br>

         Find your pet bestfriend website is a very user-friendly website. To search for a pet you can click on the petsearch button ontop right left corner or just simply click on the "see details" button.
        <br><br>
       2. Can I Save My Pet search?<br><br>
        Yes. Our website allows you to save your pet search by clicking on the heart icon on your favorite pet picture and then you can see the list of saved pets by clicking on the "saved pets" button on top of the screen
<br><br>
3. How long does the adoption process take?<br><br>
The adoption process can take minutes, more than an hour or even 
longer. It all depends on the type of organization and the adoption 
policies of that organization.<br><br>
4. I found a pet that I like , What are the next steps?
<br><br> Congratulations! 
 The next step is to contact the organization listed on the pet’s page
on our site.You will be asked to fill out a preliminary application in some case, if the pet belongs to any organization.

</p>


</div>