:root {
	--color1: #e5f9e0;
	--color2: #a3f7b5;
	--color3: #40c9a2;
	--color4: #2f9c95;
	--color5: #664147;
	--pagefont: "Lato", sans-serif;
}
legend{
	color: white;
	opacity: 65%;
}
a:focus {
	background-color:none;
}
body {
	max-width: 100vw;
	max-height: 100vh;
	color: var(--color4);
	background-image: url(/images/dog0.jpg);
	background-size:cover;
	background-position:center center;
	animation:change 40s infinite ease;
	
	
}
@keyframes change{
	20%{
		background-image: url(/images/dog2.jpg);
	}
	40%{
		background-image: url(/images/cat-hd1.jpg);
	}
	60%{
		background-image: url(/images/cat2.jpeg);
	}
	80%{
		background-image: url(/images/rabbit.jpeg);
	}
}

header {
	 display:flex;
	 margin:0.01em;
	 justify-content:space-between;
	 align-items: center;
	 padding:0.02em;
	 background: transparent;
	/* background-color: var(--color1); */
	
}

header .button {
	background-color:  #0005;
}

/* login/register/logout buttons */
.button {
	display: inline-block;
	color:var(--color1);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: unset;
	background-color:#0005;
	padding: 0.5em 0.75em;
	font-weight: bold;
	border:var(--color2) 1px;
	border-radius: 0.25em;
	
	
}
.button:hover {
	background-color: var(--color2);
	filter: brightness(85%);
	text-decoration: none;
	/* color: var(--color5); */
}
/* navigation links in header */
.navigationbutton {
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: unset;
	background-color: transparent;
	flex-wrap: nowrap;
	padding:5px;
	font-weight: bold;
	float: left;
	font-size:15px;
	
}
.navigationbutton li{
	list-style-type: none;
}
.navigationbutton:hover {
	text-decoration: none;
	filter: brightness(85%);
	color:  var(--color2);
	font-weight: bolder;
	border-radius: 0.1em;
}
.nav {
	font-size: large;
	background-color: #0005;
}
#lgbutton{
	/* color:var(--color2);
	text-align: center; */
	text-decoration: none;
	justify-content: right;
	/* user-select: unset;
	background-color:var(--color2);
	padding: 0.5em 0.75em;
	font-weight: bold;
	border: var(--color3) 1px;
	/* border-radius: 0.5em; */
}
.btn-space {
	margin-right:20px;
}
.card {
	background-color: var(--color1);
	width: 90%;
}
#newestpetimg{
	visibility: hidden;
}
#heroname{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: linear-gradient(to left,#b3ff00,#b9cc66,#9eff66, #f6ffcc, yellow);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
}
#about-title{
	color: antiquewhite;
}
#about-p{
	font-family:'Courier New', Courier, monospace;
	font-weight:bold;
	font-size:medium;

}

#faq-title{
	color: antiquewhite;
}
/* controls the appearance of the "see details" button in the landingpage.handlebars file */
/* .details_button {
	display: inline-block;
	color:whitesmoke;
	text-align: center;
	text-decoration: none;
	vertical-align:text-top;
	user-select: unset;
	background-color:transparent;
	padding: 0.5em 0.5em;
	font-weight: bold;
	border: #0005 1px;
	border-radius: 0.25em;
	
} */


.savedpetimageholder {
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	margin-right: 2%;
}

.savedpetimageholder img {
	right: 0;
	margin-left: 1rem;
	border-radius: 5%;
}

.card-body {
	position: relative;
}
.fa-regular,.far{
	color:darkgreen;
}
.fa-regular,.far:focus{
	color:red;
}
.savedhearticon {
	position: absolute;
	right: 0;
	padding-right: 1rem;
}

.form-check-input {
	position: relative;
}

#pet-type-choice {
	background-color: var(--color2);
	margin: 2%;
	padding: 2%;
	border-radius: 16px;
}
#textseedetails{
	color:antiquewhite;
}
#logo {
	width:10vh;
	height: 10vh;
    display: inline-block;
	border-radius: 50px;
}

#petdetailcontainer {
	background-color: var(--color1);
	height: fit-content;
	border-radius: 3%;
}

#petdetailimg {
	border-radius: 3%;
}
#shelterfont{
	color:whitesmoke;
}
#searcharea {
	color: var(--color5)
}
#searchbutton {
	background-color: var(--color2);
	border: 2px solid var(--color5);
	color: var(--color5);
}
#searchheader {
	color:whitesmoke;
}

#footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 7%;
			opacity:1;
			color:antiquewhite;
            /* background-color: #0005; */
			
}

.mb-3{
	padding: 20px;
	border-radius: 20px;
}

/* .social .fbtn {
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 18px;
    /* float: left; */
/* }
.social .fa {
    padding: 15px 0px
}
.facebook {
    background-color: #3b5998;
}
.gplus {
    background-color: #dd4b39;
}
.twitter {
    background-color: #55acee;
}
.stumbleupon {
    background-color: #eb4924;
}
.pinterest {
    background-color: #cc2127;
}
.linkedin {
    background-color: #0077b5;
}
.buffer {
    background-color: #323b43;
}
.share-button.sharer {
    height: 20px;
    padding: 100px;
}
.share-button.sharer .social.active.top {
    transform: scale(1) translateY(-10px);
}
.share-button.sharer .social.active {
    opacity: 1;
    transition: all 0.4s ease 0s;
    visibility: visible;
}
/* .share-button.sharer .social.networks-5 {} .share-button.sharer .social.top {
    margin-top: -80px;
    transform-origin: 0 0 0;
} */
/* .share-button.sharer .social {
    margin-left: -65px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    visibility: hidden;
}  */

        /* .dropdown:hover .dropdown-menu {
            display: block;
        }
  
        .dropdown {
            margin-left: 40rem;
            margin-right: 40rem;
  
        }
  
        .name {
            text-align: center;
            color: green;
        } */
  
@media only screen and (min-width: 1200px) {
	.savedpetimageholder {
		margin-left: 1rem;
	}
}
